<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- RECEIVE_SMS is used only for the fake delivery report. -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:name=".injection.SmsSenderApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Lint might complain about WorkManagerInitializer not being re- -->
        <!-- moved, but we're removing Startup altogether, so this is fine. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />

        <receiver android:name=".sms.SmsResultReceiver" />

        <!-- TESTING ONLY!! -->
        <receiver
            android:name=".sms.FakeDeliveryReporter"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>