<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- fakeDeliveryReportsMaxSdk is 30. -->
    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        android:maxSdkVersion="${fakeDeliveryReportsMaxSdk}"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application tools:ignore="MissingApplicationIcon">

        <receiver
            android:name=".sms.FakeDeliveryReporter"
            android:enabled="@bool/fake_delivery_reports"
            android:exported="@bool/fake_delivery_reports"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>